<!DOCTYPE html>
<html>
  <head>
    <title>Brit's Badass Website</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
      <h1>THE LIBRARY</h1>

      <p>You're probably here to listen to some music, right?</p>
      <ul class="song-list">
          <% songs.each do |song| %>
            <%= erb :song, locals: { song: song } %>
          <% end %>
      </ul>
  </body>
</html>
